
.main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.mode {
  flex: 1;
}

.setup {
  padding-left: 4em;
  padding-right: 4em;
}

.review {
  padding-left: 6em;
  padding-right: 6em;
}

.setup-buttons {
  padding-top: 1em;
  justify-content: flex-end;
}

.candidate {
  cursor: pointer;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.25s ease;
}
